In [15]:
import yfinance as yf
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [20]:
Apple = yf.download("AAPL", start = "2010-01-01", end="2023-01-01")

[*********************100%%**********************]  1 of 1 completed

In [19]:
Apple

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2010-01-04,7.622500,7.660714,7.585000,7.643214,6.487534,493729600
2010-01-05,7.664286,7.699643,7.616071,7.656429,6.498750,601904800
2010-01-06,7.656429,7.686786,7.526786,7.534643,6.395379,552160000
2010-01-07,7.562500,7.571429,7.466071,7.520714,6.383555,477131200
2010-01-08,7.510714,7.571429,7.466429,7.570714,6.425997,447610800
...,...,...,...,...,...,...
2022-12-23,130.919998,132.419998,129.639999,131.860001,131.299820,63814900
2022-12-27,131.380005,131.410004,128.720001,130.029999,129.477600,69007800
2022-12-28,129.669998,131.029999,125.870003,126.040001,125.504539,85438400
2022-12-29,127.989998,130.479996,127.730003,129.610001,129.059387,75703700
2022-12-30,128.410004,129.949997,127.430000,129.929993,129.378006,77034200

In [26]:
tickers = ['SPY', 'AAPL', 'META']

In [27]:
stocks = yf.download(tickers, start = '2010-01-01', end='2023-01-01')

[*********************100%%**********************]  3 of 3 completed

In [28]:
stocks

             Adj Close                               Close              \
                  AAPL        META         SPY        AAPL        META
Date
2010-01-04    6.487534         NaN   87.483208    7.643214         NaN
2010-01-05    6.498750         NaN   87.714767    7.656429         NaN
2010-01-06    6.395380         NaN   87.776520    7.534643         NaN
2010-01-07    6.383554         NaN   88.147064    7.520714         NaN
2010-01-08    6.425996         NaN   88.440384    7.570714         NaN
...                ...         ...         ...         ...         ...
2022-12-23  131.299820  118.040001  378.706665  131.860001  118.040001
2022-12-27  129.477585  116.879997  377.213226  130.029999  116.879997
2022-12-28  125.504539  115.620003  372.525238  126.040001  115.620003
2022-12-29  129.059372  120.260002  379.230835  129.610001  120.260002
2022-12-30  129.378006  120.339996  378.231873  129.929993  120.339996

                              High                                 Low  \
                   SPY        AAPL        META         SPY        AAPL
Date
2010-01-04  113.330002    7.660714         NaN  113.389999    7.585000
2010-01-05  113.629997    7.699643         NaN  113.680000    7.616071
2010-01-06  113.709999    7.686786         NaN  113.989998    7.526786
2010-01-07  114.190002    7.571429         NaN  114.330002    7.466071
2010-01-08  114.570000    7.571429         NaN  114.620003    7.466429
...                ...         ...         ...         ...         ...
2022-12-23  382.910004  132.419998  118.180000  383.059998  129.639999
2022-12-27  381.399994  131.410004  118.599998  383.149994  128.720001
2022-12-28  376.660004  131.029999  118.150002  383.390015  125.870003
2022-12-29  383.440002  130.479996  121.029999  384.350006  127.730003
2022-12-30  382.429993  129.949997  120.419998  382.579987  127.430000

                                          Open                          \
                  META         SPY        AAPL        META         SPY
Date
2010-01-04         NaN  111.510002    7.622500         NaN  112.370003
2010-01-05         NaN  112.849998    7.664286         NaN  113.260002
2010-01-06         NaN  113.430000    7.656429         NaN  113.519997
2010-01-07         NaN  113.180000    7.562500         NaN  113.500000
2010-01-08         NaN  113.660004    7.510714         NaN  113.889999
...                ...         ...         ...         ...         ...
2022-12-23  115.540001  378.029999  130.919998  116.029999  379.649994
2022-12-27  116.050003  379.649994  131.380005  117.930000  382.790009
2022-12-28  115.510002  376.420013  129.669998  116.250000  381.329987
2022-12-29  115.769997  379.079987  127.989998  116.400002  379.630005
2022-12-30  117.739998  378.429993  128.410004  118.160004  380.640015

               Volume
                 AAPL        META        SPY
Date
2010-01-04  493729600         NaN  118944600
2010-01-05  601904800         NaN  111579900
2010-01-06  552160000         NaN  116074400
2010-01-07  477131200         NaN  131091100
2010-01-08  447610800         NaN  126402800
...               ...         ...        ...
2022-12-23   63814900  17796600.0   59857300
2022-12-27   69007800  21392300.0   51638200
2022-12-28   85438400  19612500.0   70911500
2022-12-29   75703700  22366200.0   66970900
2022-12-30   77034200  19583800.0   84022200

[3272 rows x 18 columns]